/**
 * This file contains styles for the ingredient-page.html file.

 * It should define the visual appearance of the recipe list, forms, and other related elements.
 */
 ul {
    padding: 10px;
    min-height: 50px;
    border: 1px dashed blue;
}
